
{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
			{{ project.description }}
        </div>
    </div>
</div>
{% endblock %}